<%- include("header"); -%>

  <div class="favorietenstijl">
  <h1>TOP 3</h1>
  <h4><%- kind.naam %></h4>

  <label for="">1</label>
  <input type="text" name="" value="<%- kind.favoriet1 %>"><br>
  <label for="">2</label>
  <input type="text" name="" value="<%- kind.favoriet2 %>"><br>
  <label for="">3</label>
  <input type="text" name="" value="<%- kind.favoriet3 %>"><br>
    </div>
<%- include("footer"); -%>
