<div class="individueelspel spel <%=post.tags%>">
  <a class="doorklik" href="/speluitleg/<%=index %>">
    <article>
      <h3><%=post.titel %></h3>
        <span><%=post.tags %></span>
      <p class="leeftijd"><%=post.leeftijd %></p>
    </article></a>
</div>
