<%- include('header'); -%>
<div class="detail spel<%=color%>">
<article>
<div class="spel spel<%=color%>">
  <h3><%=post.titel %></h3>
    <span><%=post.tags%></span>
    <div class="rechts"><p><%=post.leeftijd %></p></div>

</div>
      <h4>benodigdheden:</h4>
      <p><%=post.benodigdheden %></p> <br>
      <h4>speluitleg:</h4>
      <p><%=post.speluitleg %></p><br>
    </article>
    <a href="/verwijderen"><button type="button" name="button" >Verwijderen</button></a>
  </div>
<%- include('footer'); -%>
